@font-face {
	font-family: AnitaSemi;
	src: url('/anitaSemi.ttf');
}

* {
	transition-property: all;
	transition-duration: 0.25s;
	font-family: AnitaSemi, sans-serif;
}

#dashboard_header {
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}

#logout-box {
	position: absolute;
	top: 15px;
	right: 15px;
	color: white;
}

#logout-box > img {
	vertical-align: middle;
	border-radius: 50%;
	border: 2px solid #8bb;
}

#logout-link {
	cursor: pointer;
}

#logout-link:hover {
	text-decoration: underline;
}

#room_search {
	font-size: 30px;
}

#room_container {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

.outer_box {
	margin: auto;
	margin-top: 20px;
	width: 300px;
	height: 300px;
}

.outer_box .room_box {
	height: 260px;
	width: 260px;
	display: table;
	margin: 20px;
	font-size: 30px;
	background-color: rgba(31, 31, 70, 0.6);
}

.room_box:hover {
	box-shadow: 5px 5px 15px #ffffff;
}

.room_box {
	border-radius: 50%;
	box-shadow: 0px 0px 5px #ffffff;
}

.room-box-edit {
	display: table-cell;
	vertical-align: middle;
}

.room-box-edit input {
	background: none;
	border: none;
	text-align: center;
	color: white;
	width: 100%;
	box-sizing: border-box;
	outline: 0;
}

.room_text {
	color: white;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.room_text:hover {
	
}

.room_text p {
	text-decoration: none;
}

/* removes underline */
a, u {
    text-decoration: none;
}