#dashboard_header {
	text-align: center;
}

#room_search {
	font-size: 30px;
}

#room_container {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

.room_box {
	margin: 20px;
	font-size: 30px;
	background: #ff5555;
	width: 300px;
	height: 300px;
	display: table;
}

.room_text {
	color: white;
	text-align: center;
	vertical-align: middle;
  display: table-cell;
}

.room_text p {
	text-decoration: none;
}
