#dashboard_header {
	text-align: center;
	color: white;
	margin: 0;
}

#room_search {
	font-size: 30px;
}

#room_container {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

.outer_box {
	margin: auto;
	width: 300px;
	height: 300px;
}

.outer_box .room_box {
	height: 260px;
	width: 260px;
	display: table;
	margin: 20px;
	font-size: 30px;
	background: #ff5555;
}

.room_text {
	color: white;
	text-align: center;
	vertical-align: middle;
  display: table-cell;
}

.room_text p {
	text-decoration: none;
}

/* removes underline */
a, u {
    text-decoration: none;
}
