<template name="dashboard">

  <video autoplay loop id="background-video" class="background-video">
  	<source src="/dashboard_background.mp4" type="video/mp4">
  </video>
	{{print "dashboard this:"}}
	{{print this.rooms}}

	<!--
	<iframe title="Stupeflix Video Player" class="SxPlayer" src="//studio.stupeflix.com/embed/HhvZe2Yp7gW6/" width="640" height="360" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
	-->

	<h1 id="dashboard_header">Pulsr</h1>
	{{> logoutBox}}

	{{!-- <div id="search_field">
		<input type="text" name="room_search" id="room_search"><br>
	</div> --}}

	<div id="room_container">
		{{#each rooms}}
			{{> roomIcon}}
		{{/each}}
		{{> addView}}
	</div>

</template>

<template name="roomIcon">
	<div class="outer_box">
		<a class="room_box" href="{{ pathFor 'room' roomName=this.name }}">
			<p class="room_text">{{name}}</p>
		</a>
	</div>
</template>

<template name="addView">
	<div class="outer_box">
		<a class="room_box" href="#">
			{{#if hasClicked}}
				<div class="room-box-edit">
					<input type="text" id="new_room_name" placeholder="Name" />
				</div>
			{{else}}
				<p id="add_icon" class="room_text">+</p>
			{{/if}}
		</a>
	</div>
</template>

<template name="logoutBox">
	<div id="logout-box">
		<img width="50" height="50" src="{{currentUser.profile.profilePicture}}" />
		<span id="logout-link">Log out</span> <span>({{currentUser.profile.firstName}} {{currentUser.profile.lastName}})</span> 
	</div>
</template>
