<template class="room" name="room">

  {{print "room this:"}}
	{{print this}}

  {{#each songs}}
    this is a song: {{this.name}}
    <br />
  {{/each}}

	<div class="header">
		<div class="searchGroup">
			<input type="text" id="search" placeholder="Search for a Song!" class="searchBar"/>
			<div class="searchButtonWidget">
				<input type="submit" value="Search" class="searchButton"/>
				<div class="searchButtonOverlay"> </div>
			</div>
		</div>
		<div id="searchResults" class="searchResults">
			<div class="searchResultsList">
				{{#each searchResults}}
					{{> searchResult}}
				{{/each}}
			</div>
		</div> 
	</div>
</template>

<template name="searchResult">
	<div class="listItem">
    <img src="{{thumbnail}}"/>
    <div class="listInfo">
      <h3>{{title}}</h3>
      <h4>{{channelTitle}}</h4>
    </div>
  </div>
</template>
