<template class="room" name="room">
  {{#if isPhone}}
    <!-- no video -->
  {{else}}
  	<video autoplay loop id="room-video" class="background-video">
      <source src="/room_background.mp4" type="video/mp4">
    </video>
  {{/if}}

  <h1>{{name}}</h1><br>
  <div class="headerContainer">
    <a href="/" class="dashLink">
      <span id="room_header">Pulsr</span>
    </a>
  </div>
  <div class="searchGroupContainer">
    <div class="searchGroup">
      <input type="text" id="search" placeholder="Search for a Song!" class="searchBar"/>
      <div class="searchButtonWidget" id="ytSearch">
        <input type="submit" value="Search" class="searchButton"/>
        <div class="searchButtonOverlay"></div>
      </div>
			<div class="searchButtonWidget" id="scSearch">
				<input type="submit" value="Search" class="scSearchButton"/>
        <div class="searchButtonOverlay"></div>
			</div>
    </div>
  </div>
  <div id="searchResults" class="searchResults">

    {{#if searchResultsExist searchResults}}
    <div class="closeSearchButtonContainer">
        <button id="closeSearchButton" class="closeSearchButton">
          X
        </button>
    </div>
		{{else}}
			{{#if scSearchResultsExist scSearchResults}}
				<button id="closeSearchButton" class="closeSearchButton">
					X
				</button>
			{{/if}}
    {{/if}}

    <div class="searchResultsList">
      {{#each searchResults}}
        {{> searchResult}}
      {{/each}}
    </div>
		<div class="scSearchResultsList">
			{{#each scSearchResults}}
				{{> scSearchResult}}
			{{/each}}
		</div>

  </div>

  {{#if isPhone}}
    <!-- no video player on mobile -->
    <!-- NOTE: the video player actually doesn't work on my phone -->
  {{else}}
		{{#if soundcloud}}
		<iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com%2Ftracks%{{soundcloud}}&show_artwork=true" width="100%" height="465" scrolling="no" frameborder="no"></iframe><br>
		{{else}}
			<div class="playerContainer">
				{{> YTPlayer name="player"}}<br>
			</div>
		{{/if}}
  {{/if}}

  {{#unless hasStartedPlaying}}
    <div class="buttonContainer">
      <button id="startButton" class="startButton">Start Playlist</button>
    </div>
  {{/unless}}

  <!--INSERTING THE PLAYLIST TEMPLATE -->
  <div id="songsList" class="songsListContainer">
    <div class="searchResultsList">
      {{#each songs}}
          {{> songItem}}
      {{/each}}
    </div>
  </div>
</template>

<!-- PLAYLIST TEMPLATE DESCRIPTION-->
<template name="songItem">

    <div class="playlistItem">
      <div class="scoreWidget">
        <div>
          <i class="voteButton fa fa-thumbs-up upvote {{upvotedClass}}"></i>
        </div>
        <div><span>{{like_score}}</span></div>
        <div>
          <i class="voteButton fa fa-thumbs-down downvote {{downvotedClass}}"></i>
        </div>
      </div>

      <div class="playlistWidget">
        <img src="{{thumbnail}}" class="listThumbnail"/>
        <div class="listInfo">
          <h3>{{title}}</h3>
          <div class="listInfoBottom">
            <span>by </span><span class="channelTitle">{{channelTitle}}</span>
            <div class="statisticsInfo">
              <div><i class="fa fa-eye"></i><span class="tab">{{viewCount}}</span></div>
              <div><i class="fa fa-thumbs-up"></i><span class="tab">{{likeCount}}</span></div>
              <div><i class="fa fa-thumbs-down"></i><span class="tab">{{dislikeCount}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<!-- SEARCH RESULT TEMPLATE -->
<template name="searchResult">
	<div class="searchListItem">
    <img src="{{thumbnail}}" class="listThumbnail"/>
    <div class="listInfo">
      <h4>{{title}}</h4>
      <div class="listInfoBottom">
        <span>by </span><span class="channelTitle">{{channelTitle}}</span>
        <div class="statisticsInfo">
          <div><i class="fa fa-eye"></i><span class="tab">{{viewCount}}</span></div>
          <div><i class="fa fa-thumbs-up"></i><span class="tab">{{likeCount}}</span></div>
          <div><i class="fa fa-thumbs-down"></i><span class="tab">{{dislikeCount}}</span></div>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- SOUNDCLOUD SEARCH RESULT TEMPLATE -->
<template name="scSearchResult">
	<div class="scSearchListItem">
    <img src="{{thumbnail}}" class="listThumbnail"/>
    <div class="listInfo">
      <h4>{{title}}</h4>
      <div class="listInfoBottom">
        <span>by </span><span class="channelTitle">{{username}}</span>
        <div class="statisticsInfo">
          <div><i class="fa fa-eye"></i><span class="tab">{{playCount}}</span></div>
          <div><i class="fa fa-thumbs-up"></i><span class="tab">{{likeCount}}</span></div>
          <div><i class="fa fa-thumbs-down"></i><span class="tab">{{favoriteCount}}</span></div>
        </div>
      </div>
    </div>
  </div>
</template>
