.headerContainer {
	position: relative;
}

.dashLink {
	position: absolute;
	margin-top: 10px;
}

.room-background {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: -1;
	background-image: url("room_background.jpg");
}

.playerContainer, .buttonContainer {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.playerContainer {
	margin-top: 40px;
}

.startButton {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 0;
	color: transparent;
	background-image: url("/play-icon.png");
	background-size: cover;
}

.startButton:focus {
	outline: 0;
}

.searchGroupContainer {

}

.searchGroup {
	display: flex;
	justify-content: center;
}

.searchBar {
	width: 60%;
	height: 40px;
	line-height: 40px;
	padding: 0;
	border: 2px solid #79A6D1;
	padding-left: 10px;
	font-size: 18px;
}

.searchBar:hover, .searchBar:focus {
	border: 2px solid #800000;
	outline: 0;
}

.searchButtonWidget {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	width: 7.5%;
	height: 44px;
}

.searchButton {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("/search-icon.png");
	background-size: cover;
	background-repeat: no-repeat;
	border: 0;
	color: transparent;
}

.searchButtonOverlay {
	opacity: 0;
	position: absolute;
	background-color: black;
	width: 100%;
	height: 100%;
}

.searchButtonOverlay:hover {
	opacity: 0.2;
	cursor: pointer;
}

.searchResults {
	margin-top: 20px; /* does nothing... */
}

.closeSearchButtonContainer {
	width: 65%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 5px;
}

.closeSearchButton {
	background-image: url('/x-icon.png');
	border-radius: 50%;
	background-size: cover;
	border: 0;
	color: transparent;
	float: right;
}

.closeSearchButton:focus {
	outline: 0;
}

.searchResultsList {
	width: 65%;
	margin: 0 auto;
}

.searchResultsList > .searchListItem:last-child{
	border-bottom: 2px solid #79A6D1;
}

.searchListItem {
  background-color: rgba(121, 166, 209, 0.5);
  position: relative;
  cursor: pointer;
  border-top: 2px solid #79A6D1;
  border-left: 2px solid #79A6D1;
  border-right: 2px solid #79A6D1;
  padding: 5px;
  overflow: hidden;
}

.searchListItem:hover {
	background-color: rgba(121, 166, 209, 0.8);
}

.scSearchResultsList > .scSearchListItem:last-child{
	border-bottom: 2px solid #79A6D1;
}

.scSearchListItem {
  background-color: rgba(121, 166, 209, 0.5);
  position: relative;
  cursor: pointer;
  border-top: 2px solid #79A6D1;
  border-left: 2px solid #79A6D1;
  border-right: 2px solid #79A6D1;
  padding: 5px;
  overflow: hidden;
}

.scSearchListItem:hover {
	background-color: rgba(121, 166, 209, 0.8);
}

.listInfoBottom {
	margin-top: 10px;
}

.listInfoBottom span:first-child {
	margin-left: 10px;
}

.listThumbnail {
	float: left;
	width: 15%;
	vertical-align: middle;
}

.listInfo {
  float: right;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  width: 85%;
}

.listInfo h3{
	margin: 0;
	margin-left: 10px;
	font-weight: normal;
}

.listInfo h4{
	margin-left: 10px;
}


.listInfo span {
	font-size: 10px;
}

.listInfo span span {
	font-size: 14px;
}

.statisticsInfo {
	float: right;
}

.statisticsInfo > div {
	display: inline-block;
}

.channelTitle {
	margin-right: 10%;
}

.tab {
	padding-right: 20px;
}

.songsListContainer {
	display: flex;
	justify-content: center;
	color: white;
}

.songsList {
	list-style-type: none;
}

.playlistItem {
	display: flex;
	align-items: center;
}

.voteButton {
	color: white;
}

.voteButton:hover {
	color: #79A6D1;
	cursor: pointer;
}

.scoreWidget {
	margin-left: 10px;
	margin-right: 10px;
}

.playlistWidget {
  width: 100%;
  background-color: rgba(121, 166, 209, 0.5);
  position: relative;
  cursor: pointer;
  border-top: 2px solid #79A6D1;
  border-left: 2px solid #79A6D1;
  border-right: 2px solid #79A6D1;
  padding: 5px;
  overflow: hidden;
}

#room_header {
	font-family: SpaceAge, sans-serif;
	margin: 20px;
	text-align: left;
	color: white;
	font-size: 24px;
}

/*
** These are for you!
*/
.upvoted {
	color: orange;
}

.downvoted {
	color: purple;
}
